body {
    margin: 0;
    padding: 0;
    width: 100%;
   

}
.my-account {
    position: relative;
    background: #EDEEED;
    padding: 0px 6px 8px 6px;
    width: 80%;
    margin:auto;
    display:block;
}

.account-details {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    display: inline;
    width: 450px;
}

.account-details li {
    display: inline;
    margin-left: 5px;
}

.account-details a {
    font-family:arial;
    text-decoration: none;
    color: #EF7561;
    font-size: 11pt;
    padding: 0px 10px 0px 5px;
    border-right: 1px solid grey;
}

.my-store {
    display: inline-block;
    width: 330px;
    position: relative;
    border-right: 1px solid white;
}

.navigation {
    /*    display:inline;*/
    position: absolute;
    left: 12px;
    bottom: 5px;
}

.my-store p {
    /*    display:inline-block;*/
    position: relative;
    left: 55px;
    bottom: 2px;
    font-size: 10pt;
    font-family: arial;
}

.my-store a {
    position: absolute;
    left: 55px;
    top: 30px;
    text-decoration: none;
    font-size: 10pt;
    font-family: arial;
    color: #EF7561;
}

.john {
    display: inline-block;
    position: relative;
    width: 165px;
}

.john-img {
    position: absolute;
    left: 12px;
    top: 10px;
}

.john p {
    position: relative;
    left: 60px;
    border-right: 1px solid grey;
}

.john a {
    position: absolute;
    left: 62px;
    top: 35px;
    text-decoration: none;
    font-size: 10pt;
    font-family: arial;
    color: #EF7561;
}

.fb-logo {
    display: inline-block;
    position: relative;
    width: 150px;
}

.fb-logo {
    position: relative;
    left: 75px;
    top: 15px;
}

.fb-logo a {
    text-decoration: none;
    font-size: 10pt;
    font-family: arial;
    color: #EF7561;
    position: absolute;
    left: 47px;
    top: 12px;
}

.free-shipping ul {
    display: block;
    top: 40px;
    width: 78%;
    margin:auto;
    padding-top: 40px;
    list-style-type: none;
    font-family: arial;
}

ul .first-child {
    font-weight: bold;
    font-size: 12pt;
    color: #57C8D5;
    text-transform: uppercase;
    text-align:right;
}

.free-shipping ul :not(.first-child) {

    font-size:13px;
    text-align:right;
    
}

.starter-store{
    width:80%;
    margin:auto;
    display:block;
    padding-top:15px;
}
.search-box{
    display:inline-block;
    width:340px;
    height:45px;
    font-style:italic;
    font-family:arial;
    font-size:14px;
    position:relative;
    left:260px;
    bottom:25px;
    padding:5px;
    
}
.starter-store i{
    font-size:30px;
}
.fa-search{
    position:relative;
    bottom:20px;
    left:210px;
    font-size:3px;
}
#cart{
    display:inline-block;
    position:relative;
    width:250px;
    height:49px;
    left:235px;
    top:34px;
       
}
.text-area{
    width:250px;
    height:56px;
    background: #EF7561;
    border:none;
    padding:0;
}
.cart-img{
    position:relative;
    left:20px;
    bottom:45px;
}
.items{
    position:relative;
    left:22px;
    bottom:60px;
    color:white;
    font-family:arial;
    font-size:13px;
    letter-spacing: 1px;
}
.zero{
    padding-left:16px;
}
#dropdown{
    position:relative;
    left:33px;
    bottom:55px;
}
#new-arrivals{
    width:81%;
    margin:auto;
    display:block;
    
}
.in-stock li{
    list-style-type:none;
  display:inline-block;
    padding:0px 35px;
}


.in-stock a{
    text-decoration:none;
    text-transform:uppercase;
    font-size:11pt;
    font-family:arial;
    color:#6A7076;
}

#images{
    width: 81%;
    margin: auto;
    margin-top:10px;
    padding-bottom:85px;
    border-bottom:1px solid #D5D8D5;
}


.image1{
    display: inline-block;
    width: 348px;
    margin-left:20px;
   margin-right:20px;

}
.image2{
    display:inline-block;
    width:348px;
    margin-right:20px;
    
}
.image3{
    display:inline-block;
    width:348px;
   
}
.image1 p, .image2 p, .image3 p{
     font-family:arial;
    font-size:15px;
    color:#6A7076;
    
}

.image1 p{
    width:165px;
}
.image2 p{

    width:260px;
}
.image3 p{
    width:229px;
}
.image1 a, .image2 a, .image3 a{
    color:#EF7561;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bold;
    font-family:gotham;
    font-size:17px;
}
#stay-connected{
    width:81%;
    height:175px;
    margin:auto;
}
.subscribe{
    display:inline-block;
    float:left;
    width:550px;
}
h3{
    text-transform:uppercase;
    font-family:gotham;
    font-size:22px;
    color:#6A7076;
    margin-bottom:10px;
}
.subscribe placeholder{
    text-transform: capitalize;
}
input[placeholder]{
    text-transform:capitalize;
    font-style: italic;
    font-family:arial;
    font-size:14px;
    padding-left:20px;
}
.subscribe-btn{
    width:158px;
    height:61px;
    background:#EF7561;
    color:white;
    border:0;
    outline:0;
    position:relative;
    right:4px;
    font-family:arial;
    font-size:17px;
    text-transform:uppercase;
    letter-spacing:1px;
}

#app-store{
    display:inline-block;
    float:right;
    width:600px;
}

#app-store li{
    display:inline-block;
    list-style-type: none;
    width:46px;
    height:46px;
/*    border:1px solid red;*/
    border-radius:30px;
    display:inline-flex;
    align-items:center;
    justify-content: center;
    background: #D5D8D5;
    margin-left:5px;
    position:relative;
    left:50px;
  
}
#app-store ul{
margin:20px 0px 0px 0px;

}

#app-store .fa{
    
color:#6A7076;
}

#app-store h3{
    position:relative;
    left:95px;
    top:4px;
   
}
#appstore-icon{
    display:inline-block;
    position:relative;
    left:388px;
    bottom:50px;
    
}
footer{
    width:80%;
    height:80px;
    margin:0 auto;
    background: #EDEEED;
}
#currency{
    display:inline-block;
    width: 175px;
    margin:0;
    padding-left:20px;
    border-right:1px solid white;
    position:relative;
    
}
#currency a{
text-decoration:none;
color:#6A7076;
font-family:arial;
font-size:15px;
text-transform:capitalize;
padding-right:15px;
border-right:1px solid #6A7076;
    position:relative;
    bottom:25px;
    
}

#currency img{
    position:relative;
    left:10px;
    bottom:15px;
}

#customer-service{
    display:inline-block;
}
#contact-details li{
    list-style:none;
    display:inline;
margin:0;    

}
#contact-details a{
    text-decoration:none;
    color:#6A7076;
    font-family:arial;
    font-size:14px;
   padding:0px 10px;
    
    text-transform:capitalize;
    border-right:1px solid #6A7076;
    
    
}
#customer-service p{
    color:#6A7076;
    font-family:arial;
    font-size:10px;
    position:relative;left:50px;

}
#contact-details #terms {
    border-right: none;
}




















































